@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,500&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    /* overflow: hidden; */
}
.fullpage-section {
  /* border: 2px solid red; */
  height: 100vh;
  /* max-width: 1140px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  max-width: 1140px;
    /* width: 94%; */
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid rgb(0, 255, 42); */
}
h1{
    color: azure;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 50px;
}
.des-img{
    /* width: 85%; */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(128, 0, 0); */
}
.paragraph{
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    font-size: 15px;
    line-height: 25px;
}
.description{   
    color: azure;
    /* border: 1px solid red; */
}
.img{
    width: 45%;
    height: 450px;
    background-image: url('https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/318984148/original/d7f615543fcf18b54365fc9822dfc82354c582d2/build-your-android-and-ios-app.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.lists{
  /* width: 85%; */
  display: flex;
  justify-content: space-between;
  /* margin-top: 5px; */
  /* border: 1px solid rgb(255, 0, 195); */
}
.princips{
  /* border: 1px solid yellow; */
  margin-bottom: 20px;
  font-size: 18px;
}
.first-list-box{
  width: 48%;
  /* border: 1px solid green; */
  /* padding-bottom: 3%; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: -40px; */
  /* margin-top: 50px; */
}
.gap{
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
}
.second-list-box{
  width: 48%;
  /* border: 1px solid green; */
}
p{
  color: white;
  line-height: 30px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 15px;
}
span{
  font-size: 19px;
}
.proreate-img-text{
  /* width: 85%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rgb(60, 255, 0); */
}
.proreate-logo-img{
  width: 35%;
  /* height: 450px; */
  /* height: auto; */
  background-image: url('https://asset.brandfetch.io/id3MSxhWf4/id9ky8b2tP.jpeg');
  background-size: cover;
  background-position: center;
}
.layout-accessibility{
  width: 60%;
  /* border: 1px solid red; */
}
.gestures-content{
  /* width: 85%; */
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.gestures{
  width: 60%;
  /* border: 1px solid green; */
}
.gestures-img{
  width: 35%;
  height: 450px;
  background-image: url('https://strapi.dhiwise.com/uploads/618fa90c201104b94458e1fb_64e85b7f096b09245241dccc_flutter_gestures_OG_Image_9fde3f7b3a.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img-style{
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px;
}
.user-friend-img{
  background-image: url('https://www.hostingplus.pe/wp-content/uploads/2021/07/tech-devices-and-icons-connected-to-digital-planet-earth.jpg');
}
.same-style-bck-img {
  width: 100%;
  /* border: 1px solid rgb(255, 208, 0); */
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bck-img-one {
  background-image: url("https://img.freepik.com/premium-vector/technology-background-with-hitech-digital-data_29971-1430.jpg");
}
.bck-img-two {
  background-image: url("https://img.freepik.com/premium-vector/abstract-plexus-technology-futuristic-network-with-contrast-level-gradient-blue-background_107708-76.jpg");
}
.bck-img-three {
  background-image: url("https://img.freepik.com/premium-vector/technology-background-with-hitech-digital-data_29971-1430.jpg");
}
.bck-img-four {
  background-image: url("https://img.freepik.com/premium-vector/abstract-plexus-technology-futuristic-network-with-contrast-level-gradient-blue-background_107708-76.jpg");
}
.bck-img-five {
  background-image: url("https://img.freepik.com/premium-vector/technology-background-with-hitech-digital-data_29971-1430.jpg");
}
.bck-img-six {
  background-image: url("https://img.freepik.com/premium-vector/abstract-plexus-technology-futuristic-network-with-contrast-level-gradient-blue-background_107708-76.jpg");
}  
  
